<h1>Director #<%= @id %> details</h1>

<a href = "/directors">Go back</a>
<% dir = Director.where({ :id => @id }).at(0) %>
<dt>Name</dt>
  <dd><%=dir.name%></dd>
<dt>Dob</dt>
  <dd><%=dir.dob%></dd>
<dt>Bio</dt>
  <dd><%=dir.bio%></dd>
<dt>Image</dt>
  <dd><img src = "<%= dir.image %>"></dd>
<dt>Created at</dt>
  <dd><%= time_ago_in_words(dir.created_at).capitalize%> ago</dd>
<dt>Updated at</dt>
  <dd><%= time_ago_in_words(dir.updated_at).capitalize%> ago</dd>

<h2>Filmography</h2>
<table border="1">
  <tr>
    <th>ID</th>
    <th>Image</th>
    <th>Title</th>
    <th>Year</th>
    <th>Director</th>
    <th></th>
  </tr>
  <% @movies.each do |mov|%>
  <tr>
    <td><%= mov.id%></td>
    <td><img src=<%= mov.image%>></td>
    <td><%= mov.title%></td>
    <td><%= mov.year%></td>
    <td><%= if dir
    dir.name
    else
    "No director found"
    end%></td>
    <td><a href = "/movies/<%= mov.id %>">Show details</a></td>
  </tr>
  <% end %>
</table>
