<h1>Movie #<%= @id %> details</h1>

<a href = "/movies">Go back</a>
<dt>Title</dt>
  <dd><%=@movie.title%></dd>
<dt>Year</dt>
  <dd><%=@movie.year%></dd>
<dt>Duration</dt>
  <dd><%=@movie.duration%></dd>
<dt>Descritpion</dt>
  <dd><%=@movie.description%></dd>
<dt>Image</dt>
  <dd><img src = "<%= @movie.image %>"></dd>
<dt>Director</dt>
  <dd><%= if @dir
  @dir.name
  else
  "No director found"
  end%></dd>
<dt>Created at</dt>
  <dd><%= time_ago_in_words(@movie.created_at).capitalize%> ago</dd>
<dt>Updated at</dt>
  <dd><%= time_ago_in_words(@movie.updated_at).capitalize%> ago</dd>
