<h1>List of all movies</h1>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Image</th>
    <th>Title</th>
    <th>Year</th>
    <th>Director</th>
    <th></th>
  </tr>
  <% Movie.all.each do |mov|%>
  <% dir = Director.where({ :id => mov.director_id }).at(0)%>
  <tr>
    <td><%= mov.id%></td>
    <td><img src=<%= mov.image%>></td>
    <td><%= mov.title%></td>
    <td><%= mov.year%></td>
    <td><%= if dir
    dir.name
    else
    "No director found"
    end%></td>
    <td><a href = "/movies/<%= mov.id %>">Show details</a></td>
  </tr>
  <% end %>
</table>
